html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
}

body {
  line-height: 1.4;
}

/* ----------baner--------------*/
.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width:960px;
  margin: 0 auto;
}

.menu {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

.company {
  display: flex;
  justify-content: left;
  color: white;
  font-family: "Helvetica";
  font-size: 1rem;
  padding: 1rem 0;
}

.company img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav{
  color: white;
}

nav ul{
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}

li {
  font-family: "Helvetica";
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobile-nav {
  display:none;
}

.headline-container{
  display: flex;
  justify-content: flex-end;
}

.headline {
  background-color: white;
  position:relative;
  margin-top: 10rem;
  margin-right: -2rem;
  width:auto;
  text-align: right;
}

.headline H1{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  line-height: 1.2;
}


/* ----------products--------------*/

.products {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:3rem;
  margin-bottom: 3rem;
  align-content: flex-start;
}

.product {
/*height: 8rem;*/
margin:3rem 6rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.product-image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.description {
  font-family: "Helvetica";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1rem;
}

/* ----------business info--------------*/
.business-info {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.info .title {
  display: block;
  padding-left:1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  font-family: "Helvetica";
  color:white;
  width:20rem;
  font-weight: bold;
}

.info .descr{
  width: 35%;
  font-size: 1rem;
  font-family: "Helvetica";
}

/* ----------footer--------------*/
footer {
  margin-top: 5rem;
  align-items: center;
  font-family: "Helvetica"

}

footer .container{
  background-color: azure;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Helvetica"
}

footer img{
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

/* ----------@media--------------*/

@media only screen and (max-width: 960px) {
  .banner {
    height: 22rem;
  }

.container {
  width:100%;
}

.headline {
    margin-top: 5rem;
    margin-right: 2rem;
  }

.headline H1{
  font-size: 1.33rem;
  padding: 0.75rem 4rem;
}
}

@media only screen and (max-width: 700px) {

.banner {
  height: 17rem;
  background-position: 20%;
}

nav ul {
  display:none;
}
.mobile-nav {
  display:block;
  text-align: center;
  font-family: Helvetica;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.headline {
    margin-top: 9rem;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.products {
  flex-wrap: wrap;
  margin-top:3.77rem;
  margin-bottom: 3.77rem;
}

.business-info {
    flex-wrap: wrap;
    width:100%;
}

.description {
    font-size: 0.77rem;
}

.info {
  display: flex;
  flex-direction: column;
    width:100%;
}

.info .title {
  width:100%]
}


.info .descr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 0.77rem;
}

.copyright{
  display: none
}

footer {
  justify-content: center;
  align-items: center;
}
}
